@charset "utf-8";
/* CSS Document */

/*-----Global-----*/
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	font-family: proxima nova, sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Nunito', sans-serif;
}
body {
	width: 100%;
	background-image: url(images/Beachfoliobackdrop.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #d5c99d;
}
.wrapper {
	width: 70%;
	margin: 0 auto;

}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
h1 {
	color: white;
	font-family: Nunito;
	font-size: 48px;
	text-shadow: black;
}
h5 {
	color: white;
	font-family: Nunito;
	font-size: 18px;
	text-shadow: black;
	text-align: left;
}
p {
	color: white;
	font-size: 16px;
}
ul {
	font-family: Raleway;
	list-style: none;
	margin-top: 30px;
}
li {
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
}

/*-----nav-----*/
nav {
	height: 100px;
	line-height: 1
}
nav a {
	color: white;
	text-decoration: none;
}
nav a img {
	vertical-align: middle;
}
nav a:nth-child(2) {
	float: right;
}
/*-----header-----*/
header {
	margin: 100px 0 200px 0;
	text-align: center;
}
header p {
	width: 45%;
	margin: 30px auto 0 auto;
}
header a {
	color: #FF4A5E
	text-decoration: none;
}

/*-----work-----*/
.work {
	text-align: center;
	width: 100%;
	padding-top: 325px;
}
.work a img {
	margin: 1%;
	width: 45%;
}

/*-----about-----*/
.about {
	text-align: center;
}
.about2 a img {
	margin-right: 10px;
	padding: 25px;
}

/*-----footer-----*/
footer {
	text-align: center;
	margin: 60px 0;
}
footer p {
	color: #404348;
}
/*-----Responsive-----*/

@media only screen and (max-width: 991px) {
	header p {
		width: 100%;
	}
	.work a img {
		padding-top: 400px;
		margin: 2%;
		width: 96%:
	}
	.work2 a img {
		margin: 2%;
		width: 96%;
	}
}
@media only screen and (max-width: 768px) {
	header {
		width: 96%;
		margin: 30px auto 100px auto;
		text-align: left;
	}
	footer {
		text-align: left;
		width: 90%;
		margin: 90px auto;
	}
}



#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}